<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin-fragments :: admin_html_head"/>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" style="height: 750px;" th:replace="admin-fragments :: admin_html_nav"/>

    <!-- Page Content  -->
    <div class="container-xl" style="margin-top: 25px;">
        <div class="table-responsive">
            <div class="alert alert-primary mt-3" role="alert" th:if="${message != null}">
                [[${message}]]
            </div>
            <div class="table-wrapper" id="categoriesTable">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2>Categories <b>Management</b></h2>
                        </div>
                        <div class="col-sm-8">
                            <div class="btn btn-primary" id="addCategoryBtn"><i class="material-icons">&#xE863;</i> <span>Add New Category</span></div>
                            <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>
                        </div>
                    </div>
                </div>
                <div class="table-filter">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="" style="display: flex; align-items: center;">
                                <span style="margin-right: 5px;">Show</span>
                                <select class="form-control" style="margin-right: 5px;">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                </select>
                                <span>entries</span>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            <div class="filter-group">
                                <label>Name</label>
                                <input type="text" class="form-control" id="searchName" th:value="${searchName}" onchange="searchProducts()">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Categories name</th>
                        <th>Number product</th>
                        <th>Total product remain</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="category, state : ${categories}">
                        <td th:text="${state.count}"></td>
                        <td><img th:src="${category.img()}" style="width: 70px;height: 70px;" class="avatar" alt="Avatar"></td>
                        <td th:text="${category.name()}" ></td>
                        <td th:text="${category.number()}"></td>
                        <td th:text="${category.numberRemain()}"></td>
                        <td>
                            <a style="cursor: pointer" class="view" title="View Details" data-toggle="tooltip">
                                <i class="material-icons categoryAction" th:id="${category.id()}" th:name="${category.name()}">&#xE5C8;</i>
                            </a>
                        </td>
                        <td>
                            <a style="cursor: pointer" class="view" title="View Details" data-toggle="tooltip">
                                <i class="material-icons categoryDelete" th:name="${category.id()}">&#xE5C8;</i>
                            </a>
                        </td>

                    </tr>

                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                    <ul class="pagination" th:if="${totalPages > 1}">
                        <li th:class="${pageIndex == 0 ? 'page-item disabled' : 'page-item'}">
                            <span style="cursor: pointer; border: none" class="page-link previous">Previous</span>
                        </li>
                        <li th:class="'page-item ' + ${i - 1 == pageIndex ? ' active' : ''}" th:each="i : ${#numbers.sequence(1, totalPages)}">
                            <span th:id="${i}" style="cursor: pointer; border: none" class="page-link page-link-number">[[${i}]]</span>
                        </li>
                        <li th:class="${pageIndex + 1 == totalPages ? 'page-item disabled' : 'page-item'}">
                            <span style="cursor: pointer; border: none" class="page-link next">Next</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card" id="addCategoryForm">
                <div class="card-body">
                    <button class="title btn btn-outline-secondary" style="margin: 10px 0px" id="changePageBtn">Return categories management</button>
                    <form id="categoryForm" th:action="@{/admin/categories}" method="post" enctype="multipart/form-data" th:object="${categoryRequestDTO}" class="needs-validation" novalidate autocomplete="off">
                        <input type="hidden" th:field="*{id}" id="categoryId">

                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" name="name" placeholder="Your name" th:field="*{name}"
                                   required/>
                            <small class="form-text text-muted">Please fill product's name.</small>
                        </div>

                        <div class="mb-3">
                            <label for="inputImage" class="form-label">Default image:</label><br>
                            <input type="file" id="inputImage" accept="image/png, image/jpeg, image/jpg" name="file" th:field="*{file}" required>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn col-lg-2" id="addBtn" type="submit">Add new category</button>
                        </div>

                    </form>
                </div>
            </div>



        </div>
    </div>

</div>

<div hidden>
    <form th:action="@{/admin/categories/delete}" method="post" id="formDelete">
        <input type="hidden" name="categoryId" id="cateId">
    </form>
</div>


<script th:inline="javascript">

    $(document).ready(function () {
        $('#addCategoryForm').hide();
    });

    (function($) {

        "use strict";

        var fullHeight = function() {

            $('.js-fullheight').css('height', $(window).height());
            $(window).resize(function(){
                $('.js-fullheight').css('height', $(window).height());
            });

        };
        fullHeight();

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

    })(jQuery);

    let id, name, file;

    $('#addCategoryBtn').click(function () {
        $('#categoryId').val('');
        $('#inputName').val('');
        $('#inputImage').val('');
        $('#categoryForm').attr('action', '/admin/categories');
        $('#addBtn').html('Add new category');

        $('#categoriesTable').toggle(false);
        $('#addCategoryForm').toggle(true);
    });

    $('#changePageBtn').click(function () {
        $('#categoriesTable').toggle(true);
        $('#addCategoryForm').toggle(false);
    });

    function editCategory(categoryName) {
        alert("name: " + categoryName);
    }

    $('.categoryAction').click(function () {
        let categoryId = $(this).attr('id');
        let categoryName = $(this).attr('name');

        $('#categoryId').val(categoryId);
        $('#inputName').val(categoryName);
        $('#inputImage').val('');
        $('#categoriesTable').toggle(false);
        $('#addCategoryForm').toggle(true);

        $('#categoryForm').attr('action', '/admin/categories/update');
        $('#addBtn').html('Update category');
    });

    $('.categoryDelete').click(function () {
        let categoryId = $(this).attr('name');
        $('#cateId').val(categoryId);
        $('#formDelete').submit();
    });

    const paging = (pageIndex) => {
        let url = `/admin/categories?pageIndex=${pageIndex}`;
        window.location = url;
    };

    $('.page-link-number').click(function () {
        let pageIndex = $(this).attr('id');
        pageIndex = pageIndex - 1;
        paging(pageIndex);
    });

    $('.previous').click(() => {
        let pageIndex = /*[[${pageIndex}]]*/ "";
        pageIndex = pageIndex - 1;
        paging(pageIndex);
    });

    $('.next').click(() => {
        let pageIndex = /*[[${pageIndex}]]*/ "";
        pageIndex = pageIndex + 1;
        paging(pageIndex);
    });


</script>

</body>
</html>