<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <title>Create new user</title>
</head>
<body class="container bg-light">
    <button class="title btn btn-outline-primary" style="margin-top: 10px" id="changePageBtn">Return users management</button>
    <div class="text-center">
        <h2>Create new account</h2><br>
    </div>

    <div class="card">
        <div class="card-body">
            <form id="bookingForm" th:action="@{/admin/users/create}" method="post" th:object="${user}" class="needs-validation" novalidate autocomplete="off">
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" name="name" th:field="*{name}" placeholder="Your name"
                           required />
                    <small class="form-text text-muted">Please fill your name</small>
                </div>

                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" th:field="*{email}" placeholder="Enter email"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <div class="form-group">
                    <label for="inputDate">Date</label>
                    <input type="date" class="form-control" id="inputDate" th:field="*{dob}" name="date" required />
                    <small class="form-text text-muted">Please choose date of birth.</small>
                </div>

                <div class="form-group">
                    <label for="inputRole">Role</label>
                    <select class="form-control" id="inputRole" th:field="*{role}" required>
                        <option value="" disabled selected>None</option>
                        <option value="ADMIN">ADMIN</option>
                        <option value="ADMIN">ADMIN</option>
                    </select>
                    <small class="form-text text-muted">Please choose role.</small>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" th:field="*{password}" name="password" placeholder="Your password"
                           required />
                    <small class="form-text text-muted">Please fill your name</small>
                </div>

                <button class="btn btn-primary btn-block col-lg-2" type="submit">Create</button>

            </form>
        </div>
    </div>

</body>
</html>