<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="admin_html_head">
    <title>Sidebar 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" th:href="@{/img/login/icons/favicon.ico}"/>

    <link th:href="@{/https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900}" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/admin/style.css}">


    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto|Varela+Round}">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/table/table.css}">

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>
<body>

<nav id="sidebar" style="height: 750px;" th:fragment="admin_html_nav">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" th:style="'background-image: url(' + @{/img/bg_1.jpg} + ');'">
        <div class="user-logo">
            <div class="img" th:style="'background-image: url(' + @{/img/logo.jpg} + ');'"></div>
            <h3>Catriona Henderson</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li id="dashboardBtn" style="background-color: #2f89fc">
            <a th:href="@{/admin/home}"><span class="fa fa-home mr-3"></span> Dashboard</a>
        </li>
        <li id="usersBtn">
            <a th:href="@{/admin/users}"><span class="fa fa-download mr-3"><small
                    class="d-flex align-items-center justify-content-center">5</small></span> Users Management</a>
        </li>
        <li>
            <a th:href="@{/admin/products}"><span class="fa fa-gift mr-3"></span> Products Management </a>
        </li>
        <li>
            <a th:href="@{/admin/categories}"><span class="fa fa-trophy mr-3"></span> Categories Management </a>
        </li>
        <li>
            <a th:href="@{/admin/colors}"><span class="fa fa-trophy mr-3"></span> Colors Management </a>
        </li>
        <li>
            <a th:href="@{/admin/sizes}"><span class="fa fa-trophy mr-3"></span> Sizes Management </a>
        </li>
        <li>
            <a th:href="@{/admin/orders}"><span class="fa fa-trophy mr-3"></span> Orders Management </a>
        </li>
        <li>
            <a th:href="@{/profile}"><span class="fa fa-cog mr-3"></span> My Account </a>
        </li>
        <li>
            <a style="cursor: pointer" id="signOut"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
        </li>
    </ul>

    <form th:action="@{/logout}" method="post" hidden id="formLogout">
    </form>

    <script>
        $('#signOut').click(function () {
            $('#formLogout').submit();
        });
    </script>
</nav>

</body>
</html>