<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin-fragments :: admin_html_head"/>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" style="height: 750px;" th:replace="admin-fragments :: admin_html_nav"/>

    <!-- Page Content  -->

    <div class="container-xl" style="margin-top: 25px;">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2>Products <b>Management</b></h2>
                        </div>
                        <div class="col-sm-8">
                            <a href="#" class="btn btn-primary"><i class="material-icons">&#xE863;</i> <span>Add New Product</span></a>
                            <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>
                        </div>
                    </div>
                </div>
                <div class="table-filter">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="" style="display: flex; align-items: center;">
                                <span style="margin-right: 5px;">Show</span>
                                <select class="form-control" style="margin-right: 5px;">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                </select>
                                <span>entries</span>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            <div class="filter-group">
                                <label>Name</label>
                                <input type="text" class="form-control" id="searchName" onchange="searchProducts()">
                            </div>
                            <div class="filter-group">
                                <label>Active</label>
                                <select class="form-control" id="isDelete" onchange="searchProducts()">
                                    <option value="all">All</option>
                                    <option value="false">Active</option>
                                    <option value="true">Not Active</option>
                                </select>
                            </div>
                            <div class="filter-group">
                                <label>Categories</label>
                                <select class="form-control" id="categoryId" onchange="searchProducts()">
                                    <option value="0">All</option>
                                    <option th:each="category : ${categories}" th:value="${category.id}">[[${category.name}]]</option>
                                </select>
                            </div>
                            <span class="filter-icon"><i class="fa fa-filter"></i></span>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Product name</th>
                        <th>Price</th>
                        <th>Color</th>
                        <th>Size</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="product, state : ${products}">
                        <td th:text="${state.count}"></td>
                        <td><img th:src="${product.productDTO().img()}" style="width: 70px;height: 70px;" class="avatar" alt="Avatar">[[${product.productDTO().name()}]]</td>
                        <td>$[[${product.productDTO().price()}]]</td>
                        <td>
                            <ul style="padding-inline-start: 0; margin-bottom: 0;">
                                <li th:each="color : ${product.colors()}">[[${color.name}]]</li>
                            </ul>
                        </td>
                        <td>
                            <ul style="padding-inline-start: 0; margin-bottom: 0;">
                                <li th:each="size : ${product.sizes()}">[[${size.size}]]</li>
                            </ul>
                        </td>
                        <td th:text="${product.productDTO().category().name}"></td>
                        <td th:text="${product.productDTO().isDelete() ? 'Non-active' : 'Active'}"></td>
                        <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i
                                class="material-icons">&#xE5C8;</i></a></td>
                    </tr>

                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item active"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">6</a></li>
                        <li class="page-item"><a href="#" class="page-link">7</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

    function searchProducts(){
        let searchName = $('#searchName').val();
        let isDelete = $('#isDelete').val();
        let categoryId = $('#categoryId').val();

        window.location = "products?isDelete=" + isDelete + "&&categoryId=" + categoryId + "&&searchName=" + searchName;
    }
</script>

</body>
</html>