<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>

<body>

<link rel="stylesheet" href="css/order/order.css">

<header class="header" th:replace="fragments :: hmtl_body_header"/>

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All categories</span>
                    </div>
                    <ul>
                        <li th:each="category : ${categories}">
                            <a th:href="@{/#}">[[${category.name}]]</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search" th:replace="fragments :: html_search"/>



                <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg" th:if="${isHome}">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<main id="main-content">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="title">
                    <div style="font-weight: 700; font-size: 35px;">Your ordered</div>
                    <span>Check the status of recent orders, manage returns, and discover similar products.</span>
                </div>

                <div th:each="order : ${orderResponseList}" class="order">
                    <div class="row order-title">
                        <div class="order-info col-md-8">
                            <span style="font-weight: 700;">Ordered in</span> [[${order.orderDate()}]]
                        </div>
                        <div class="order-status col-md-2">
                            <span style="font-weight: 700;">Status:</span> [[${order.status()}]]
                        </div>
                        <div class="order-management-btn col-md-2" th:id="${order.orderId()}">
                            <div>Manager order</div>
                        </div>
                    </div>

                    <div class="order-content">
                        <div class="order-items" th:each="item : ${order.orderDetails()}">
                            <hr 1px black>
                            <div class="row item">
                                <div class="item-info col-md-10">
                                    <img th:src="${item.productImage()}" alt="">
                                    <div class="item-content">
                                        <div style="margin-top: 20px;">
                                            <div class="item-name" th:text="${item.productName()}"></div>
                                            <div class="item-size-color">
                                                Color: [[${item.productColor()}]], Size: [[${item.productSize()}]]
                                            </div>
                                            <div class="item-price">
                                                Price: $[[${item.price()}]]
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="item-info-btn col-md-2">
                                    <button class="btn btn-success buttonAdd" th:id="${item.productDetailId()}" type="button">Add to card</button>
                                    <button class="btn btn-info buttonView" th:id="${item.productId()}" type="button">View product</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display: flex; justify-content: center;">
                    <button type="button" class="btn btn-danger" style="width: 500px; color: black">Load more</button>
                </div>

            </div>
        </div>
    </div>
</main>

<div class="container" id="returnOrder" hidden>
    <button id="returnOrderButton" type="button">Return my orders</button>
</div>
<section id="detail-content" class="shoping-cart spad" style="padding-top: 0px;"></section>
<div class="container" id="orderTracking"></div>

<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./home.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: hello@colorlib.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About Our Shop</a></li>
                        <li><a href="#">Secure Shopping</a></li>
                        <li><a href="#">Delivery infomation</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Our Sitemap</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Innovation</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script th:inline="javascript">

    const orderDetails = /*[[${orderResponseList}]]*/ null;

    $('.buttonAdd').click((event) => {
        let productDetailId = event.target.id;
        let param = {
            productDetailId: productDetailId,
            numberProduct : 1
        };

        $.ajax({
            url: "/api/cart",
            type: 'POST',
            data: param,
            success: function(response) {
                alert(response.message || 'Please login to add item to cart');
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
    });

    $('.buttonView').click(function () {
        let productId = $(this).attr('id');
        window.location = '/product?productId=' + productId;
    });

    const renderItemsHtml = (items) => {
        return items.reduce((accumulator, currentValue) => {
            return accumulator + `
            <tr><div>
                                    <td class="shoping__cart__item">
                                        <img src="${currentValue.productImage}" style="width: 70px; height: 70px;" alt="">
                                        <a><h5>${currentValue.productName}</h5></a>
                                    </td>
                                    <td>${currentValue.productColor}</td>
                                    <td>${currentValue.productSize}</td>
                                    <td>${currentValue.price}</td>
                                    <td>${currentValue.quantity}</td>
                                    <td class="shoping__cart__total">$${currentValue.price * currentValue.quantity}</td>
                                </div></tr>
            `;
        }, ``);
    }

    const renderTableItemsHtml = (order) => {
        let items = order.orderDetails;
        let itemsHtml = renderItemsHtml(items);
        console.log(itemsHtml)

        return `
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shoping__cart__table">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="shoping__product">Products</th>
                                        <th>Color</th>
                                        <th>Size</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    ${itemsHtml}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="shoping__checkout" id="shipInfo">
                                <h5>Shipping Information</h5>
                                <ul>
                                    <li>Full name <span>${order.customerName}</span></li>
                                    <li>Email <span>${order.customerEmail}</span></li>
                                    <li>Phone <span>${order.phone}</span></li>
                                    <li>Order date <span>${order.orderDate}</span></li>
                                    <li>Address <span>${order.address}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="shoping__checkout" id="totalPrice">
                                <h5>Cart Total</h5>
                                <ul>
                                    <li>Subtotal <span id="subTotalMoney">$${order.total}</span></li>
                                    <li>Shipment's fee <span>$ 2</span></li>
                                    <li>Total <span  id="totalMoney">$${order.total + 2}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        `;
    }

    const renderOrderTracking = (order) => {
        return `
                    <link rel="stylesheet" href="css/orderDetail.css">
                    <div class="card">
                    <!-- Add class 'active' to progress -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-12">
                            <ul id="progressbar" class="text-center">
                                <li class="${order.statusInNumber >= 1 ? 'active step0' : 'step0'}"></li>
                                <li class="${order.statusInNumber >= 2 ? 'active step0' : 'step0'}"></li>
                                <li class="${order.statusInNumber >= 3 ? 'active step0' : 'step0'}"></li>
                                <li class="${order.statusInNumber >= 4 ? 'active step0' : 'step0'}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row justify-content-between top">
                        <div class="row d-flex icon-content">
                            <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Order<br>Processed</p>
                            </div>
                        </div>
                        <div class="row d-flex icon-content">
                            <img class="icon" src="https://i.imgur.com/TkPm63y.png">
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Order<br>Shipped</p>
                            </div>
                        </div>
                        <div class="row d-flex icon-content">
                            <img class="icon" src="https://i.imgur.com/HdsziHP.png">
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Order<br>Arrived</p>
                            </div>
                        </div>
                        <div class="row d-flex icon-content">
                            <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Order<br>Returned</p>
                            </div>
                        </div>
                    </div>
                </div>
        `;
    }

    $('.order-management-btn').click(function() {
        let orderId = $(this).attr('id');
        let order = orderDetails.find(order => order.orderId == orderId);
        let orderHtml = renderTableItemsHtml(order);
        $('#main-content').toggle(false);
        $('#detail-content').html(orderHtml);
        let height = $('#shipInfo').height();
        $('#totalPrice').height(height);
        let trackingHtml = renderOrderTracking(order);
        $('#orderTracking').html(trackingHtml);
        $('#returnOrder').attr('hidden', false);
    })

    $('#returnOrderButton').click(() => {
        $('#main-content').toggle(true);
        $('#orderTracking').html('');
        $('#detail-content').html('');
        $('#returnOrder').attr('hidden', true);
    });


</script>
</body>
</html>